body {
    font-family: 'Segoe UI', sans-serif;
}

header {
    background-color: #a00085;
    color: #fff;
}
.info {
    font-size: 18px;
}
footer {
    width: 100%;
    background-color: #a00085;
    color: #fff;
}